# Run our database outside k8s cluster
# Access our database from inside our cluster
apiVersion: v1
kind: Namespace
metadata:
  name: sales-system
---
apiVersion: v1
kind: Service
metadata:
  name: database-service
  namespace: sales-system
spec:
  clusterIP: None
  ports:
    - port: 5432
---
apiVersion: v1
kind: Endpoints
metadata:
  name: database-service
  namespace: sales-system
subsets:
  - addresses:
      - ip: 192.168.86.155 # ifconfig | grep 192
    ports:
      - port: 5432
        name: database-service