---

# This file defines the sales-system namespace and related resources


apiVersion: v1
kind: Namespace
metadata:
  name: sales-system

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: sales
  namespace: sales-system

spec:
  selector:
    matchLabels:
      app: sales

  template:
    metadata:
      labels:
        app: sales
    spec:
      terminationGracePeriodSeconds: 60

      containers:
      - name: sales
        image: sales-image
        ports:
        - name: sales
          containerPort: 3000
        - name: sales-debug
          containerPort: 3010


        readinessProbe: # readiness probe mark the service available to accept traffic
          httpGet:
            path: /readiness
            port: sales
          initialDelaySeconds: 2
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 2
          successThreshold: 1

          
        livenessProbe: # liveness probe mark the service alive or dead ( to be restarted )
          httpGet:
            path: /liveness
            port: sales
          initialDelaySeconds: 2
          periodSeconds: 5
          timeoutSeconds: 5
          failureThreshold: 2
          successThreshold: 1

        env:
        - name: GOMAXPROCS
          valueFrom:
            resourceFieldRef:
              # It will use a math ceiling function to round up the number of CPUs to the nearest integer.
              # This is a way to ensure that the container is not using more than the available CPUs.
              # When k8s reads the limits.cpu field in the definition, it passes from 250m to 0.250.
              # So, it will set the GOMAXPROCS to 1 after the ceiling function.
              # We want to avoid context switching between the Go runtime and the OS.
              resource: limits.cpu

        - name: GOGC
          value: "off"

        - name: GOMEMLIMIT
          valueFrom:
            resourceFieldRef:
              resource: limits.memory

        - name: SALES_DB_USER
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: db_user
              optional: true
        - name: SALES_DB_PASSWORD
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: db_password
              optional: true
        - name: SALES_DB_HOST_PORT
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: db_host_port
              optional: true
        - name: SALES_DB_DISABLE_TLS
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: db_disable_tls
              optional: true

        - name: KUBERNETES_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: KUBERNETES_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: KUBERNETES_POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: KUBERNETES_NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
---

apiVersion: v1
kind: Service
metadata:
  name: sales-service
  namespace: sales-system

spec:
  selector:
    app: sales
  type: ClusterIP
